.about-container {
  background: #fffbfa;
  padding: 100px 0;
}
.about-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
}
.about-card:nth-of-type(even) {
  flex-direction: row-reverse;
}
.about-card > div {
  width: 48%;
}
.about-card-view img {
  width: 45%;
}
.about-card:last-of-type {
  margin-bottom: 0;
}
