.container {
  padding: 100px 0;
  background: #fffbfa;
}
.swiperSlide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.details {
  background: #fff;
  padding: 33px;
}
.swiperSlide > div {
  width: 50%;
}
div.title {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding-top: 30px;
}
div.title:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 70px;
  height: 11px;
  background: transparent linear-gradient(90deg, #21eadb 0%, #29ec9e 100%) 0% 0%
    no-repeat padding-box;
}
.arrowsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
.arrowContainerDiv {
  text-transform: uppercase;
  color: #2f318d70;
  padding: 0 20px;
  width: auto;
}
.blogsContainer {
  padding-top: 120px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .swiperSlide {
    flex-direction: column-reverse;
  }
  .swiperSlide > div {
    width: 100%;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
