.contact-container {
  padding: 100px 0;
}
.contact-view img {
  width: 66%;
}
.c-row {
  display: flex;
  margin-bottom: 5px;
}
.c-row .sm-title {
  font-weight: 600;
  font-size: 14px;
  color: #28294b;
  margin-right: 5px;
}
.contact-container .title {
  letter-spacing: 3px;
  font-size: 15px;
  color: #28294b;
}
.contact-container input {
  width: calc(100% - 130px);
}
.contact-container .btn {
  background: #2f318d;
  border-radius: 8px;
  color: #fff;
}
.contact-links a {
  display: inline-block;
  color: #28294b;
  font-size: 15px;
  margin-right: 20px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .contact-view {
    display: none;
  }
  .contact-container {
    padding: 60px 0;
  }
  div.contact-links {
    margin-bottom: 0 !important;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
