nav {
  box-shadow: 0px 1px 3px #0000000d;
  position: relative;
  z-index: 20;
  padding: 15px 0;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.nav-content,
.nav-links,
.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.nav-link {
  padding: 0;
}
.nav-link a {
  display: block;
  font-size: 15px;
  color: #28294b;
}
.nav-link a:hover {
  color: #2cd8ae;
}
.nav-link a.active {
  color: #2cd8ae;
}
.nav-logo img {
  width: 115px;
}
.nav-links ul li {
  margin-left: 25px;
}
.menu-bar {
  position: relative;
  width: 40px;
  height: 21px;
  display: none;
}
.menu-bar > div {
  position: absolute;
  height: 2px;
  width: 100%;
  border-radius: 50px;
  background: #707070;
}
.menu-bar > div:first-of-type {
  top: 0;
  width: 100%;
}
.menu-bar > div:nth-of-type(2) {
  top: 50%;
}
.menu-bar > div:last-of-type {
  top: 100%;
}
.menu-bar.active > div:first-of-type {
  transform: translateY(10px) rotate(50deg);
}
.menu-bar.active > div:nth-of-type(2) {
  opacity: 0;
}
.menu-bar.active > div:last-of-type {
  transform: translateY(-11px) rotate(-49deg);
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: -18;
  opacity: 0;
}
.backdrop.active {
  z-index: 18;
  opacity: 1;
}
.backdrop,
.nav-links,
.menu-bar {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .menu-bar {
    display: block;
  }
  .nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    background: #fff;
    z-index: 22;
    height: 100%;
    transform: translateX(-100%);
  }
  .nav-links.active {
    transform: translateX(0);
  }
  .nav-links ul {
    display: block;
    width: 100%;
  }
  .nav-links ul li {
    margin-left: 0;
    margin-bottom: 15px;
    text-align: center;
  }
  .nav-logo img {
    width: 82px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
